/* ------------- */
/* Basic Setting */
/* ------------- */

.header img {
float: left;
width: 100px;
height: 100px;
background: #555;
}
.header h1 {
position: relative;
top: 18px;
left: 10px;
}
h1 {
    font-weight: lighter;
    line-height: 1;
}

p {
    margin-top: 20px;
    font-size: 1em;
    color: #7B8591;
}

::selection {
    color: #fff;
    background-color: #005AEE;
}


.main-card {

    position: center;
    width: 950px;
    height: 450px;
    margin-top: 200px;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 40px;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    color: #303336;
    background-color: #fff;
    box-shadow: 0 1px 10px 0px rgba(0,0,0,0.12);
}


.main-card .card-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.main-card .content-left {
    position: relative;
    width: 300px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.main-card .content-left img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
}

.main-card .content-right {
    position: relative;
    width: calc(100% - 300px);
    height: 100%;
    padding-left: 35px;
}



/* Display this style when screen-width is lower than 992px */
@media only screen and (max-width: 992px) {

    main {
        display: flex;
        justify-content: center;
        align-items: start;
        height: auto;
        min-height: 100vh;
    }

    .main-card {
        position: relative;
        width: 100%;
        height: auto;
        margin: 80px 20px;
    }

    .main-card .card-content {
        flex-direction: column;
    }

    .main-card .content-left {
        width: 100%;
        height: 300px;
    }

    .main-card .content-right {
        width: 100%;
        height: auto;
        padding: 175px 0 0;
    }

    
}

/* Display this style when screen-width is lower than 500px */
@media only screen and (max-width: 500px) {

    .main-card {
        margin: 120px 20px;
    }

    .main-card .card-content {
        padding: 25px;
    }

    .main-card .content-right {
        width: 100%;
        height: auto;
        padding: 115px 0 0;
    }

    
}

/*Form*/
.container      { 
  
  
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}
p       { 
  text-align:left; 
  margin-bottom:50px; 
  font-weight:normal; 
  font-size: 25px;
  color:#757272;
}
/*-------------------------*/
/*Button*/
.btn{
  
  right: 320px;
  width: 100px;
  height: 50px;
  background-color: #4CAF50;
  color: white;
  border-radius:5px;

}

/* form starting stylings ------------------------------- */
.group            { 
  position:relative; 
  margin-bottom:45px; 
}
input               {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus         { outline:none; }

/* LABEL ======================================= */
label                {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label        {
  top:-20px;
  font-size:14px;
  color:green;
}


/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}






