.bg-primary-1{
  background-color: #3fa73f;
}

.active {
  color: white !important;
  font-weight: bold;

}

nav{
  box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.646);
}

.nav-item:hover{
  background-color:green;
  border-radius: 10px;
}

.rounded-1{
  border-radius: 30px;
}

.space-20{
  width: 100%;
  height: 20px;
}

.space-50{
  width: 100%;
  height: 50px;
}

.card-1{
  padding: 20px;
  box-shadow: 0px 0px 10px  rgba(128, 128, 128, 0.584);
  border-radius: 20px;
  color: #2b2b2b;
  font-size: 1em;
}

.btn-now{
  box-shadow: 0px 0px 20px grey;
}

.card-1 input[type=text]{

  border: none;
  border-radius: 0px;
  border-bottom: 1px solid rgba(120, 120, 120, 0.735);
}

.card-1 input[type=password]{

  border: none;
  border-bottom: 1px solid grey;
}